<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="NetVips.dll" Guid="{BBE09C77-E08F-4E97-B996-6CD0668DB363}">
                <File Id="NetVips.dll" KeyPath="yes" Source="$(var.BasePath)\NetVips.dll" />
            </Component>
            <Component Id="NetVips.xml" Guid="{10C3C615-0753-4D0D-84E7-0124D53D8AE6}">
                <File Id="NetVips.xml" KeyPath="yes" Source="$(var.BasePath)\NetVips.xml" />
            </Component>
            <Component Id="SVS2TIFF.exe" Guid="{101729BF-4FA6-488A-9B85-8DFF95269F80}">
                <File Id="SVS2TIFF.exe" KeyPath="yes" Source="$(var.BasePath)\SVS2TIFF.exe" />
            </Component>
            <Component Id="SVS2TIFF.exe.config" Guid="{3F532EE7-E3B4-4FA1-82CA-E8BDD6A17CBD}">
                <File Id="SVS2TIFF.exe.config" KeyPath="yes" Source="$(var.BasePath)\SVS2TIFF.exe.config" />
            </Component>
            <Component Id="SVS2TIFF.pdb" Guid="{9570814C-913B-493C-9040-B7DCB653B49D}">
                <File Id="SVS2TIFF.pdb" KeyPath="yes" Source="$(var.BasePath)\SVS2TIFF.pdb" />
            </Component>
            <Component Id="SVS2TIFF.xml" Guid="{35B8664F-0F50-42FB-8CAD-39C2258D5293}">
                <File Id="SVS2TIFF.xml" KeyPath="yes" Source="$(var.BasePath)\SVS2TIFF.xml" />
            </Component>
            <Component Id="System.Buffers.dll" Guid="{748A4202-F0B0-43CB-8E9E-4F32123C00BA}">
                <File Id="System.Buffers.dll" KeyPath="yes" Source="$(var.BasePath)\System.Buffers.dll" />
            </Component>
            <Component Id="System.Buffers.xml" Guid="{969813E2-BC87-4010-8B41-2B9347012781}">
                <File Id="System.Buffers.xml" KeyPath="yes" Source="$(var.BasePath)\System.Buffers.xml" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="NetVips.dll" />
            <ComponentRef Id="NetVips.xml" />
            <ComponentRef Id="SVS2TIFF.exe" />
            <ComponentRef Id="SVS2TIFF.exe.config" />
            <ComponentRef Id="SVS2TIFF.pdb" />
            <ComponentRef Id="SVS2TIFF.xml" />
            <ComponentRef Id="System.Buffers.dll" />
            <ComponentRef Id="System.Buffers.xml" />
        </ComponentGroup>
    </Fragment>
</Wix>