<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="libcairo_2.dll" Guid="{E1DD9D71-976E-491B-8A21-88C0B8DCEA3B}">
                <File Id="libcairo_2.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libcairo-2.dll" />
            </Component>
            <Component Id="libcfitsio.dll" Guid="{99ED9C1F-2404-437C-A677-30E47DF0A453}">
                <File Id="libcfitsio.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libcfitsio.dll" />
            </Component>
            <Component Id="libde265.dll" Guid="{37F87375-DECD-41BB-AEC4-B7C458BE59A4}">
                <File Id="libde265.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libde265.dll" />
            </Component>
            <Component Id="libexif_12.dll" Guid="{41E92F49-6478-4F65-B221-6E0530996486}">
                <File Id="libexif_12.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libexif-12.dll" />
            </Component>
            <Component Id="libexpat_1.dll" Guid="{BFB0083D-4B5F-43EB-BF14-745F8408390A}">
                <File Id="libexpat_1.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libexpat-1.dll" />
            </Component>
            <Component Id="libffi_7.dll" Guid="{14655F3F-CB4A-46CB-A3C4-C46E3EC7D0C3}">
                <File Id="libffi_7.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libffi-7.dll" />
            </Component>
            <Component Id="libfftw3_3.dll" Guid="{6A23FE5C-5AA1-489A-889D-17E3B4DC2BF6}">
                <File Id="libfftw3_3.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libfftw3-3.dll" />
            </Component>
            <Component Id="libfontconfig_1.dll" Guid="{617E1C24-FF77-4B9F-8420-35F75A81F2C5}">
                <File Id="libfontconfig_1.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libfontconfig-1.dll" />
            </Component>
            <Component Id="libfreetype_6.dll" Guid="{4DF0C208-9738-4B5C-84FE-419E4D27BBDE}">
                <File Id="libfreetype_6.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libfreetype-6.dll" />
            </Component>
            <Component Id="libfribidi_0.dll" Guid="{245D8BC1-264F-4D29-A3BB-CCBF4B0076C3}">
                <File Id="libfribidi_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libfribidi-0.dll" />
            </Component>
            <Component Id="libgcc_s_seh_1.dll" Guid="{8BFE1F76-20BC-4B8D-9C90-5B4C399EEE3E}">
                <File Id="libgcc_s_seh_1.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libgcc_s_seh-1.dll" />
            </Component>
            <Component Id="libgdk_pixbuf_2.0_0.dll" Guid="{A8CDC972-165B-407A-8113-D805967D4E4F}">
                <File Id="libgdk_pixbuf_2.0_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libgdk_pixbuf-2.0-0.dll" />
            </Component>
            <Component Id="libgif_7.dll" Guid="{36DFD301-AE86-4F75-98F6-EB7867162DC9}">
                <File Id="libgif_7.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libgif-7.dll" />
            </Component>
            <Component Id="libgio_2.0_0.dll" Guid="{A8A3813F-4BF2-4627-B6F3-BAB32A8D699A}">
                <File Id="libgio_2.0_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libgio-2.0-0.dll" />
            </Component>
            <Component Id="libglib_2.0_0.dll" Guid="{F8CD7868-A3B8-4EA2-8D29-8BF33DFDCAA5}">
                <File Id="libglib_2.0_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libglib-2.0-0.dll" />
            </Component>
            <Component Id="libgmodule_2.0_0.dll" Guid="{1F86D58C-FC7B-46C7-AD78-4900C4ED4F6B}">
                <File Id="libgmodule_2.0_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libgmodule-2.0-0.dll" />
            </Component>
            <Component Id="libgobject_2.0_0.dll" Guid="{9DFC1ACC-EC0E-4151-A5FD-C517D98E03A8}">
                <File Id="libgobject_2.0_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libgobject-2.0-0.dll" />
            </Component>
            <Component Id="libgsf_1_114.dll" Guid="{280DF09A-A276-4D52-A3EE-6A050BA0E853}">
                <File Id="libgsf_1_114.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libgsf-1-114.dll" />
            </Component>
            <Component Id="libharfbuzz_0.dll" Guid="{CF75A04F-9448-4582-AFC3-8232D676AF97}">
                <File Id="libharfbuzz_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libharfbuzz-0.dll" />
            </Component>
            <Component Id="libheif.dll" Guid="{75B944B5-C733-4838-8704-A1915938628D}">
                <File Id="libheif.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libheif.dll" />
            </Component>
            <Component Id="libIlmImf_2_5.dll" Guid="{3C4236B4-6BF1-46F1-8E6C-2E7999D515D0}">
                <File Id="libIlmImf_2_5.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libIlmImf-2_5.dll" />
            </Component>
            <Component Id="libjpeg_62.dll" Guid="{3F81CA80-6CAE-45C2-AC64-5EDDAE15FE5C}">
                <File Id="libjpeg_62.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libjpeg-62.dll" />
            </Component>
            <Component Id="liblcms2_2.dll" Guid="{20C26C33-9323-441F-AD50-013DF1E7580B}">
                <File Id="liblcms2_2.dll" KeyPath="yes" Source="$(var.LibvipsPath)\liblcms2-2.dll" />
            </Component>
            <Component Id="libMagickCore_6.Q16_6.dll" Guid="{A1230654-6ED4-4624-96B8-9F9E93E01CC4}">
                <File Id="libMagickCore_6.Q16_6.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libMagickCore-6.Q16-6.dll" />
            </Component>
            <Component Id="libmatio_11.dll" Guid="{31083F3B-6708-4167-8008-D055ED16AFE7}">
                <File Id="libmatio_11.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libmatio-11.dll" />
            </Component>
            <Component Id="libopenjp2.dll" Guid="{6A798B23-E235-4C9F-8508-A568B29CF203}">
                <File Id="libopenjp2.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libopenjp2.dll" />
            </Component>
            <Component Id="libopenslide_0.dll" Guid="{A1A5E7FE-A520-4DCD-B684-01F656CCE76F}">
                <File Id="libopenslide_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libopenslide-0.dll" />
            </Component>
            <Component Id="liborc_0.4_0.dll" Guid="{C124E4BA-F991-4073-A37A-3A8EA7ECB640}">
                <File Id="liborc_0.4_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\liborc-0.4-0.dll" />
            </Component>
            <Component Id="libpango_1.0_0.dll" Guid="{6269E8A6-7A04-44B8-A9A5-E2F4ED1D68DC}">
                <File Id="libpango_1.0_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libpango-1.0-0.dll" />
            </Component>
            <Component Id="libpangocairo_1.0_0.dll" Guid="{47B7F420-C8BD-4932-9280-2D4B6ADBC782}">
                <File Id="libpangocairo_1.0_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libpangocairo-1.0-0.dll" />
            </Component>
            <Component Id="libpangoft2_1.0_0.dll" Guid="{4489CBFC-3A82-4F4F-AEDC-79B65CDE5B3B}">
                <File Id="libpangoft2_1.0_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libpangoft2-1.0-0.dll" />
            </Component>
            <Component Id="libpangowin32_1.0_0.dll" Guid="{E6EB68D4-8C97-4DF5-8689-138EE0BAE816}">
                <File Id="libpangowin32_1.0_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libpangowin32-1.0-0.dll" />
            </Component>
            <Component Id="libpixman_1_0.dll" Guid="{2E7145DE-B135-4620-8109-E9406ADF6ED8}">
                <File Id="libpixman_1_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libpixman-1-0.dll" />
            </Component>
            <Component Id="libpng16_16.dll" Guid="{F9174A6E-9BF1-42F5-B560-5B4501734601}">
                <File Id="libpng16_16.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libpng16-16.dll" />
            </Component>
            <Component Id="libpoppler_105.dll" Guid="{B962060A-5041-4DCF-B3D5-15BF45FE6B0A}">
                <File Id="libpoppler_105.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libpoppler-105.dll" />
            </Component>
            <Component Id="libpoppler_glib_8.dll" Guid="{147A088A-F524-428B-A72B-F953DEBC5567}">
                <File Id="libpoppler_glib_8.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libpoppler-glib-8.dll" />
            </Component>
            <Component Id="librsvg_2_2.dll" Guid="{FD39040C-C95E-48BB-A48C-A9B10A941372}">
                <File Id="librsvg_2_2.dll" KeyPath="yes" Source="$(var.LibvipsPath)\librsvg-2-2.dll" />
            </Component>
            <Component Id="libspng_0.dll" Guid="{990B2632-82B8-45B8-A262-54FA908D8DEF}">
                <File Id="libspng_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libspng-0.dll" />
            </Component>
            <Component Id="libsqlite3_0.dll" Guid="{830595DC-9046-491E-9740-7D0C620253E0}">
                <File Id="libsqlite3_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libsqlite3-0.dll" />
            </Component>
            <Component Id="libstdc___6.dll" Guid="{B8838DEA-01F8-446D-B603-170DB1C7CEA4}">
                <File Id="libstdc___6.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libstdc++-6.dll" />
            </Component>
            <Component Id="libtiff_5.dll" Guid="{432153C7-AB1D-4AA6-866E-4FB51A4B3843}">
                <File Id="libtiff_5.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libtiff-5.dll" />
            </Component>
            <Component Id="libvips_42.dll" Guid="{07DBD149-842F-4DBE-A6ED-9020278BC730}">
                <File Id="libvips_42.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libvips-42.dll" />
            </Component>
            <Component Id="libvips_cpp_42.dll" Guid="{EB7F8D37-04E3-4AF5-B52C-2B2BFC6EB0ED}">
                <File Id="libvips_cpp_42.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libvips-cpp-42.dll" />
            </Component>
            <Component Id="libwebp_7.dll" Guid="{5D2948AD-4A46-4389-BE14-DCB553E196C8}">
                <File Id="libwebp_7.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libwebp-7.dll" />
            </Component>
            <Component Id="libwebpdemux_2.dll" Guid="{2AFE5F8D-891C-48AD-AF0F-8656AEB66CF5}">
                <File Id="libwebpdemux_2.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libwebpdemux-2.dll" />
            </Component>
            <Component Id="libwebpmux_3.dll" Guid="{4CD7EDEB-5CD7-400F-8593-7B6DAC199CFB}">
                <File Id="libwebpmux_3.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libwebpmux-3.dll" />
            </Component>
            <Component Id="libwinpthread_1.dll" Guid="{2EB7CFF2-9BC4-4FF2-8833-D28652990E0E}">
                <File Id="libwinpthread_1.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libwinpthread-1.dll" />
            </Component>
            <Component Id="libxml2_2.dll" Guid="{796B2B38-086C-4D2E-B7A5-E537EE4C2166}">
                <File Id="libxml2_2.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libxml2-2.dll" />
            </Component>
            <Component Id="libz1.dll" Guid="{E1023E7D-470B-414B-9AD8-C2911DADAB29}">
                <File Id="libz1.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libz1.dll" />
            </Component>
            <Component Id="vips.exe" Guid="{AB520F29-B26A-4E22-9458-AC01CAFE0C42}">
                <File Id="vips.exe" KeyPath="yes" Source="$(var.LibvipsPath)\vips.exe" />
            </Component>
            <Component Id="vipsedit.exe" Guid="{7827CF56-08FA-48A0-A0B0-2AA2F1683EC7}">
                <File Id="vipsedit.exe" KeyPath="yes" Source="$(var.LibvipsPath)\vipsedit.exe" />
            </Component>
            <Component Id="vipsheader.exe" Guid="{3E90B222-9C3E-44DF-BBB5-E844D082D1D0}">
                <File Id="vipsheader.exe" KeyPath="yes" Source="$(var.LibvipsPath)\vipsheader.exe" />
            </Component>
            <Component Id="vipsprofile" Guid="{186A35B9-7382-4174-86D5-F0F157681067}">
                <File Id="vipsprofile" KeyPath="yes" Source="$(var.LibvipsPath)\vipsprofile" />
            </Component>
            <Component Id="vipsthumbnail.exe" Guid="{94FD339A-5FA2-4599-904F-0FDFAF05F617}">
                <File Id="vipsthumbnail.exe" KeyPath="yes" Source="$(var.LibvipsPath)\vipsthumbnail.exe" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LibvipsComponents">
            <ComponentRef Id="libcairo_2.dll" />
            <ComponentRef Id="libcfitsio.dll" />
            <ComponentRef Id="libde265.dll" />
            <ComponentRef Id="libexif_12.dll" />
            <ComponentRef Id="libexpat_1.dll" />
            <ComponentRef Id="libffi_7.dll" />
            <ComponentRef Id="libfftw3_3.dll" />
            <ComponentRef Id="libfontconfig_1.dll" />
            <ComponentRef Id="libfreetype_6.dll" />
            <ComponentRef Id="libfribidi_0.dll" />
            <ComponentRef Id="libgcc_s_seh_1.dll" />
            <ComponentRef Id="libgdk_pixbuf_2.0_0.dll" />
            <ComponentRef Id="libgif_7.dll" />
            <ComponentRef Id="libgio_2.0_0.dll" />
            <ComponentRef Id="libglib_2.0_0.dll" />
            <ComponentRef Id="libgmodule_2.0_0.dll" />
            <ComponentRef Id="libgobject_2.0_0.dll" />
            <ComponentRef Id="libgsf_1_114.dll" />
            <ComponentRef Id="libharfbuzz_0.dll" />
            <ComponentRef Id="libheif.dll" />
            <ComponentRef Id="libIlmImf_2_5.dll" />
            <ComponentRef Id="libjpeg_62.dll" />
            <ComponentRef Id="liblcms2_2.dll" />
            <ComponentRef Id="libMagickCore_6.Q16_6.dll" />
            <ComponentRef Id="libmatio_11.dll" />
            <ComponentRef Id="libopenjp2.dll" />
            <ComponentRef Id="libopenslide_0.dll" />
            <ComponentRef Id="liborc_0.4_0.dll" />
            <ComponentRef Id="libpango_1.0_0.dll" />
            <ComponentRef Id="libpangocairo_1.0_0.dll" />
            <ComponentRef Id="libpangoft2_1.0_0.dll" />
            <ComponentRef Id="libpangowin32_1.0_0.dll" />
            <ComponentRef Id="libpixman_1_0.dll" />
            <ComponentRef Id="libpng16_16.dll" />
            <ComponentRef Id="libpoppler_105.dll" />
            <ComponentRef Id="libpoppler_glib_8.dll" />
            <ComponentRef Id="librsvg_2_2.dll" />
            <ComponentRef Id="libspng_0.dll" />
            <ComponentRef Id="libsqlite3_0.dll" />
            <ComponentRef Id="libstdc___6.dll" />
            <ComponentRef Id="libtiff_5.dll" />
            <ComponentRef Id="libvips_42.dll" />
            <ComponentRef Id="libvips_cpp_42.dll" />
            <ComponentRef Id="libwebp_7.dll" />
            <ComponentRef Id="libwebpdemux_2.dll" />
            <ComponentRef Id="libwebpmux_3.dll" />
            <ComponentRef Id="libwinpthread_1.dll" />
            <ComponentRef Id="libxml2_2.dll" />
            <ComponentRef Id="libz1.dll" />
            <ComponentRef Id="vips.exe" />
            <ComponentRef Id="vipsedit.exe" />
            <ComponentRef Id="vipsheader.exe" />
            <ComponentRef Id="vipsprofile" />
            <ComponentRef Id="vipsthumbnail.exe" />
        </ComponentGroup>
    </Fragment>
</Wix>