<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="AUTHORS" Guid="{ACD6D82E-2863-45AB-BA14-F3756321CF90}">
                <File Id="AUTHORS" KeyPath="yes" Source="$(var.LibvipsPath)\AUTHORS" />
            </Component>
            <Component Id="COPYING" Guid="{FB86D398-CAF1-4219-87CD-7D26C917E47D}">
                <File Id="COPYING" KeyPath="yes" Source="$(var.LibvipsPath)\COPYING" />
            </Component>
            <Component Id="libaom.dll" Guid="{D5B0E1E2-F2A8-48EE-9624-3300D4764DFB}">
                <File Id="libaom.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libaom.dll" />
            </Component>
            <Component Id="libbrotlicommon.dll" Guid="{3D6AF9ED-9EED-4DCF-87EA-023D19204C82}">
                <File Id="libbrotlicommon.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libbrotlicommon.dll" />
            </Component>
            <Component Id="libbrotlidec.dll" Guid="{6CB401A1-D312-4372-862B-DA2A1B349797}">
                <File Id="libbrotlidec.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libbrotlidec.dll" />
            </Component>
            <Component Id="libbrotlienc.dll" Guid="{B15AF4BF-ECEE-4637-B6F1-61D1728F89B5}">
                <File Id="libbrotlienc.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libbrotlienc.dll" />
            </Component>
            <Component Id="libc__.dll" Guid="{1CACF979-AFB4-4A16-9DB1-20C4474F67D9}">
                <File Id="libc__.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libc++.dll" />
            </Component>
            <Component Id="libcairo_2.dll" Guid="{3E9DE156-FEC0-4FEE-9656-0BD8E7380289}">
                <File Id="libcairo_2.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libcairo-2.dll" />
            </Component>
            <Component Id="libcfitsio.dll" Guid="{ABD55EE7-1CF3-4EB6-854D-5E93B4FD21A3}">
                <File Id="libcfitsio.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libcfitsio.dll" />
            </Component>
            <Component Id="libcgif_0.dll" Guid="{AB041FD7-EC91-4C12-923E-598B04C74B4F}">
                <File Id="libcgif_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libcgif-0.dll" />
            </Component>
            <Component Id="libexif_12.dll" Guid="{8162BA46-FD42-4E58-A412-4443D65FEE60}">
                <File Id="libexif_12.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libexif-12.dll" />
            </Component>
            <Component Id="libexpat_1.dll" Guid="{12B170A6-9A62-4DE8-AA8E-9842E7CB35AF}">
                <File Id="libexpat_1.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libexpat-1.dll" />
            </Component>
            <Component Id="libffi_8.dll" Guid="{674D7342-7C80-4F47-8BB1-0426A334D77F}">
                <File Id="libffi_8.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libffi-8.dll" />
            </Component>
            <Component Id="libfftw3_3.dll" Guid="{D882C1A1-1AB2-4AB6-B415-6FC0069C5724}">
                <File Id="libfftw3_3.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libfftw3-3.dll" />
            </Component>
            <Component Id="libfontconfig_1.dll" Guid="{1AAE0DA2-53BA-4C98-B403-C6809BB1681A}">
                <File Id="libfontconfig_1.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libfontconfig-1.dll" />
            </Component>
            <Component Id="libfreetype_6.dll" Guid="{DC0EA800-24BB-4F64-AEA5-DB353869AB47}">
                <File Id="libfreetype_6.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libfreetype-6.dll" />
            </Component>
            <Component Id="libfribidi_0.dll" Guid="{EE86DE74-0D6D-4718-8550-B2E008AA07CF}">
                <File Id="libfribidi_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libfribidi-0.dll" />
            </Component>
            <Component Id="libgdk_pixbuf_2.0_0.dll" Guid="{6951C718-133D-4A12-9FC0-0AC7C9AE8193}">
                <File Id="libgdk_pixbuf_2.0_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libgdk_pixbuf-2.0-0.dll" />
            </Component>
            <Component Id="libgio_2.0_0.dll" Guid="{6C619CE3-E6A4-49E4-9F56-4A803C78D565}">
                <File Id="libgio_2.0_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libgio-2.0-0.dll" />
            </Component>
            <Component Id="libglib_2.0_0.dll" Guid="{1AB1E47D-441C-45C0-B54D-ACE9DAB56BE7}">
                <File Id="libglib_2.0_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libglib-2.0-0.dll" />
            </Component>
            <Component Id="libgmodule_2.0_0.dll" Guid="{3E6CC3BE-1576-470E-8CB7-9FCFD9E103D8}">
                <File Id="libgmodule_2.0_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libgmodule-2.0-0.dll" />
            </Component>
            <Component Id="libgobject_2.0_0.dll" Guid="{6B215487-DFBF-47F8-89B5-21BB5F3D3687}">
                <File Id="libgobject_2.0_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libgobject-2.0-0.dll" />
            </Component>
            <Component Id="libgsf_1_114.dll" Guid="{C6AF34F1-1943-4CC2-A7C3-3EC763731858}">
                <File Id="libgsf_1_114.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libgsf-1-114.dll" />
            </Component>
            <Component Id="libharfbuzz_0.dll" Guid="{EF1E10FE-B90B-40FE-869C-309DA03D74EE}">
                <File Id="libharfbuzz_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libharfbuzz-0.dll" />
            </Component>
            <Component Id="libheif_1.dll" Guid="{9F540EBD-E96D-46E3-9B4A-13557AAE3D05}">
                <File Id="libheif_1.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libheif-1.dll" />
            </Component>
            <Component Id="libhwy.dll" Guid="{992772A0-167D-48FF-B855-A8ABAE3B3B72}">
                <File Id="libhwy.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libhwy.dll" />
            </Component>
            <Component Id="libIex_3_1.dll" Guid="{04D3618D-7561-4055-813B-0333DA4F96DD}">
                <File Id="libIex_3_1.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libIex-3_1.dll" />
            </Component>
            <Component Id="libIlmThread_3_1.dll" Guid="{20EF64BF-D41A-4EA9-B518-2628C626FEE3}">
                <File Id="libIlmThread_3_1.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libIlmThread-3_1.dll" />
            </Component>
            <Component Id="libimagequant.dll" Guid="{4392EE4B-6758-4019-A111-6A69797EA314}">
                <File Id="libimagequant.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libimagequant.dll" />
            </Component>
            <Component Id="libjpeg_62.dll" Guid="{C57039A9-9C05-4EF8-AB25-B4B151235FDB}">
                <File Id="libjpeg_62.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libjpeg-62.dll" />
            </Component>
            <Component Id="libjxl.dll" Guid="{25940A00-7692-4820-883D-DACEED157A5B}">
                <File Id="libjxl.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libjxl.dll" />
            </Component>
            <Component Id="libjxl_threads.dll" Guid="{22E97C38-1407-406B-AA98-ABFFDB6AE65D}">
                <File Id="libjxl_threads.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libjxl_threads.dll" />
            </Component>
            <Component Id="liblcms2_2.dll" Guid="{58E420E6-1B62-4692-BA9D-DD181FD26F11}">
                <File Id="liblcms2_2.dll" KeyPath="yes" Source="$(var.LibvipsPath)\liblcms2-2.dll" />
            </Component>
            <Component Id="libMagickCore_6.Q16_7.dll" Guid="{CF9C1A17-B646-4FE1-81BB-0E4D18667432}">
                <File Id="libMagickCore_6.Q16_7.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libMagickCore-6.Q16-7.dll" />
            </Component>
            <Component Id="libmatio_11.dll" Guid="{8D1DA037-327A-45FC-A5DC-12B8E8EB99DC}">
                <File Id="libmatio_11.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libmatio-11.dll" />
            </Component>
            <Component Id="libniftiio.dll" Guid="{149963BC-E344-4E5C-AB9C-2F7B1BCD468F}">
                <File Id="libniftiio.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libniftiio.dll" />
            </Component>
            <Component Id="libOpenEXR_3_1.dll" Guid="{B8339349-A3DF-4D1B-A5FA-D3A3CAAB0104}">
                <File Id="libOpenEXR_3_1.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libOpenEXR-3_1.dll" />
            </Component>
            <Component Id="libopenjp2.dll" Guid="{9824B950-64C6-4F97-845E-E9F2EB91E453}">
                <File Id="libopenjp2.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libopenjp2.dll" />
            </Component>
            <Component Id="libopenslide_0.dll" Guid="{A0F2409F-1D87-40DF-8DE4-71F16A4AE8EE}">
                <File Id="libopenslide_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libopenslide-0.dll" />
            </Component>
            <Component Id="liborc_0.4_0.dll" Guid="{8BD1D9BE-EA81-4932-8DDE-4C39E8D8CE19}">
                <File Id="liborc_0.4_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\liborc-0.4-0.dll" />
            </Component>
            <Component Id="libpango_1.0_0.dll" Guid="{4F789F6E-9FA6-4F25-A9DC-83A5FF4154CB}">
                <File Id="libpango_1.0_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libpango-1.0-0.dll" />
            </Component>
            <Component Id="libpangocairo_1.0_0.dll" Guid="{8A004416-E780-4681-AA1F-9CA19717C353}">
                <File Id="libpangocairo_1.0_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libpangocairo-1.0-0.dll" />
            </Component>
            <Component Id="libpangoft2_1.0_0.dll" Guid="{5A632C44-30DE-4E78-88C0-8BD89793019F}">
                <File Id="libpangoft2_1.0_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libpangoft2-1.0-0.dll" />
            </Component>
            <Component Id="libpixman_1_0.dll" Guid="{5C4267BF-D949-400B-B084-B7B6F9BB2571}">
                <File Id="libpixman_1_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libpixman-1-0.dll" />
            </Component>
            <Component Id="libpng16_16.dll" Guid="{782F197D-2FD5-4F1D-A28F-E7673BB0A480}">
                <File Id="libpng16_16.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libpng16-16.dll" />
            </Component>
            <Component Id="libpoppler_122.dll" Guid="{D7DCBA52-87C2-4047-9BE0-9ABF50288163}">
                <File Id="libpoppler_122.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libpoppler-122.dll" />
            </Component>
            <Component Id="libpoppler_glib_8.dll" Guid="{5F14429A-509D-4F7C-86E6-2756F88C775A}">
                <File Id="libpoppler_glib_8.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libpoppler-glib-8.dll" />
            </Component>
            <Component Id="librsvg_2_2.dll" Guid="{A5D79211-11FD-46DF-A90D-6C0AF0B9B585}">
                <File Id="librsvg_2_2.dll" KeyPath="yes" Source="$(var.LibvipsPath)\librsvg-2-2.dll" />
            </Component>
            <Component Id="libspng_0.dll" Guid="{41E99CD6-9A08-4AC5-B9C8-C232E685B6C6}">
                <File Id="libspng_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libspng-0.dll" />
            </Component>
            <Component Id="libsqlite3_0.dll" Guid="{C7BBD500-B0CA-4725-99FC-A38733BDF06B}">
                <File Id="libsqlite3_0.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libsqlite3-0.dll" />
            </Component>
            <Component Id="libtiff_5.dll" Guid="{0C1F15F7-9908-4C49-82EA-98AA53A66B2E}">
                <File Id="libtiff_5.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libtiff-5.dll" />
            </Component>
            <Component Id="libunwind.dll" Guid="{FFE06AA0-3EA6-497D-828B-747108D267A4}">
                <File Id="libunwind.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libunwind.dll" />
            </Component>
            <Component Id="libvips_42.dll" Guid="{2FE9915B-A2E7-473D-833B-A449F4072944}">
                <File Id="libvips_42.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libvips-42.dll" />
            </Component>
            <Component Id="libvips_cpp_42.dll" Guid="{67AA9AF1-721D-4D13-B530-FECC2E196B9D}">
                <File Id="libvips_cpp_42.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libvips-cpp-42.dll" />
            </Component>
            <Component Id="libwebp_7.dll" Guid="{92696781-EC29-45B7-838F-702BA3D0AB88}">
                <File Id="libwebp_7.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libwebp-7.dll" />
            </Component>
            <Component Id="libwebpdemux_2.dll" Guid="{8E9BABE1-BEA3-4577-B9DA-0BD06BEE6198}">
                <File Id="libwebpdemux_2.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libwebpdemux-2.dll" />
            </Component>
            <Component Id="libwebpmux_3.dll" Guid="{06DD0D83-3F66-438E-BCE3-471C177F46F6}">
                <File Id="libwebpmux_3.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libwebpmux-3.dll" />
            </Component>
            <Component Id="libxml2_2.dll" Guid="{7C171E42-D76D-4E5A-B570-EE01E28300B2}">
                <File Id="libxml2_2.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libxml2-2.dll" />
            </Component>
            <Component Id="libz1.dll" Guid="{2378A567-6FDE-4053-9CAA-629183AEA224}">
                <File Id="libz1.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libz1.dll" />
            </Component>
            <Component Id="libznz.dll" Guid="{96D72172-913B-431D-AF32-E7576116EE77}">
                <File Id="libznz.dll" KeyPath="yes" Source="$(var.LibvipsPath)\libznz.dll" />
            </Component>
            <Component Id="vips.exe" Guid="{8C6A44C5-6E8A-44D9-9C40-F2593355756C}">
                <File Id="vips.exe" KeyPath="yes" Source="$(var.LibvipsPath)\vips.exe" />
            </Component>
            <Component Id="vipsedit.exe" Guid="{D6040932-6066-44B7-A050-9F8C19AB2DF9}">
                <File Id="vipsedit.exe" KeyPath="yes" Source="$(var.LibvipsPath)\vipsedit.exe" />
            </Component>
            <Component Id="vipsheader.exe" Guid="{23BDF795-D74C-4A8F-9351-7B657AA3A829}">
                <File Id="vipsheader.exe" KeyPath="yes" Source="$(var.LibvipsPath)\vipsheader.exe" />
            </Component>
            <Component Id="vipsthumbnail.exe" Guid="{32B8017A-2B56-44F3-B6AA-4A5DCA6095E8}">
                <File Id="vipsthumbnail.exe" KeyPath="yes" Source="$(var.LibvipsPath)\vipsthumbnail.exe" />
            </Component>
            <Directory Id="vips_modules_8.13" Name="vips-modules-8.13">
                <Component Id="vips_jxl.dll" Guid="{ED233209-1CB6-4189-81D6-5CCB3E0AEE96}">
                    <File Id="vips_jxl.dll" KeyPath="yes" Source="$(var.LibvipsPath)\vips-modules-8.13\vips-jxl.dll" />
                </Component>
                <Component Id="vips_magick.dll" Guid="{38399338-DCFF-4A9D-ABFE-929A2EEDFD35}">
                    <File Id="vips_magick.dll" KeyPath="yes" Source="$(var.LibvipsPath)\vips-modules-8.13\vips-magick.dll" />
                </Component>
                <Component Id="vips_openslide.dll" Guid="{82CD3760-5F33-4F79-A97B-A2C455799CD6}">
                    <File Id="vips_openslide.dll" KeyPath="yes" Source="$(var.LibvipsPath)\vips-modules-8.13\vips-openslide.dll" />
                </Component>
                <Component Id="vips_poppler.dll" Guid="{C63D43DE-96AF-4A46-BA85-79C96D4570E0}">
                    <File Id="vips_poppler.dll" KeyPath="yes" Source="$(var.LibvipsPath)\vips-modules-8.13\vips-poppler.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LibvipsComponents">
            <ComponentRef Id="AUTHORS" />
            <ComponentRef Id="COPYING" />
            <ComponentRef Id="libaom.dll" />
            <ComponentRef Id="libbrotlicommon.dll" />
            <ComponentRef Id="libbrotlidec.dll" />
            <ComponentRef Id="libbrotlienc.dll" />
            <ComponentRef Id="libc__.dll" />
            <ComponentRef Id="libcairo_2.dll" />
            <ComponentRef Id="libcfitsio.dll" />
            <ComponentRef Id="libcgif_0.dll" />
            <ComponentRef Id="libexif_12.dll" />
            <ComponentRef Id="libexpat_1.dll" />
            <ComponentRef Id="libffi_8.dll" />
            <ComponentRef Id="libfftw3_3.dll" />
            <ComponentRef Id="libfontconfig_1.dll" />
            <ComponentRef Id="libfreetype_6.dll" />
            <ComponentRef Id="libfribidi_0.dll" />
            <ComponentRef Id="libgdk_pixbuf_2.0_0.dll" />
            <ComponentRef Id="libgio_2.0_0.dll" />
            <ComponentRef Id="libglib_2.0_0.dll" />
            <ComponentRef Id="libgmodule_2.0_0.dll" />
            <ComponentRef Id="libgobject_2.0_0.dll" />
            <ComponentRef Id="libgsf_1_114.dll" />
            <ComponentRef Id="libharfbuzz_0.dll" />
            <ComponentRef Id="libheif_1.dll" />
            <ComponentRef Id="libhwy.dll" />
            <ComponentRef Id="libIex_3_1.dll" />
            <ComponentRef Id="libIlmThread_3_1.dll" />
            <ComponentRef Id="libimagequant.dll" />
            <ComponentRef Id="libjpeg_62.dll" />
            <ComponentRef Id="libjxl.dll" />
            <ComponentRef Id="libjxl_threads.dll" />
            <ComponentRef Id="liblcms2_2.dll" />
            <ComponentRef Id="libMagickCore_6.Q16_7.dll" />
            <ComponentRef Id="libmatio_11.dll" />
            <ComponentRef Id="libniftiio.dll" />
            <ComponentRef Id="libOpenEXR_3_1.dll" />
            <ComponentRef Id="libopenjp2.dll" />
            <ComponentRef Id="libopenslide_0.dll" />
            <ComponentRef Id="liborc_0.4_0.dll" />
            <ComponentRef Id="libpango_1.0_0.dll" />
            <ComponentRef Id="libpangocairo_1.0_0.dll" />
            <ComponentRef Id="libpangoft2_1.0_0.dll" />
            <ComponentRef Id="libpixman_1_0.dll" />
            <ComponentRef Id="libpng16_16.dll" />
            <ComponentRef Id="libpoppler_122.dll" />
            <ComponentRef Id="libpoppler_glib_8.dll" />
            <ComponentRef Id="librsvg_2_2.dll" />
            <ComponentRef Id="libspng_0.dll" />
            <ComponentRef Id="libsqlite3_0.dll" />
            <ComponentRef Id="libtiff_5.dll" />
            <ComponentRef Id="libunwind.dll" />
            <ComponentRef Id="libvips_42.dll" />
            <ComponentRef Id="libvips_cpp_42.dll" />
            <ComponentRef Id="libwebp_7.dll" />
            <ComponentRef Id="libwebpdemux_2.dll" />
            <ComponentRef Id="libwebpmux_3.dll" />
            <ComponentRef Id="libxml2_2.dll" />
            <ComponentRef Id="libz1.dll" />
            <ComponentRef Id="libznz.dll" />
            <ComponentRef Id="vips.exe" />
            <ComponentRef Id="vipsedit.exe" />
            <ComponentRef Id="vipsheader.exe" />
            <ComponentRef Id="vipsthumbnail.exe" />
            <ComponentRef Id="vips_jxl.dll" />
            <ComponentRef Id="vips_magick.dll" />
            <ComponentRef Id="vips_openslide.dll" />
            <ComponentRef Id="vips_poppler.dll" />
        </ComponentGroup>
    </Fragment>
</Wix>