<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

		<ComponentGroup Id="ProductComponents">
		  <ComponentRef Id="MainAppShortcut"/>
		</ComponentGroup>

			<DirectoryRef Id="INSTALLFOLDER" FileSource="..\SVS2TIFF\bin\$(var.Configuration)\win-$(var.Platform)">
				<!-- Shortcut to main application -->
				<Component Id="MainAppShortcut"  Guid="{9C156396-0D99-44FD-ADC1-2385E7C94407}">
					<Shortcut Id="MainAppShortcut"
							  Name="!(loc.ProductName_$(var.Platform))"
							  Target="[INSTALLFOLDER]SVS2TIFF.exe"
							  Directory="InstallProgramMenuFolder"
							  WorkingDirectory="APPFOLDER"
							  Icon="icon.ico"/>
					<!-- Unique key for this shortcut -->
					<RegistryValue Id="RegShortcutKey"
								   Root="HKCU"
								   Key="SOFTWARE\!(loc.Company)\!(loc.ProductNameFolder)"
								   Name="StartMenuShortcut"
								   Value="1" Type="integer"
								   KeyPath="yes" />
					<!--Remove start menu items -->
					<RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />
				</Component>
			</DirectoryRef>
		
			<!-- TODO: Create desktop shortcut -->

	</Fragment>
</Wix>
