<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">


    <!-- Platform specific uniq ID for the product -->
    <?if $(var.Platform)=x64 ?>
    <?define ProductCode = "{9D2F6619-3DB2-4352-ABD0-7B6D8EC13E44}" ?>
    <?else?>
    <?define ProductCode = "{13529C78-E559-49D7-AA63-9B56C465555F}" ?>
    <?endif?>

    <?define UpgradeCode = "{BE2EFB5F-224F-4544-903F-329D6A1BAAA3}" ?>

	<?define BuildVersion="!(bind.FileVersion.SVS2TIFF.exe)" ?>

	<Product Id="*"
           Name="!(loc.ProductName)"
           Language="!(loc.Language)"
           Version="!(bind.FileVersion.SVS2TIFF.exe)"
           Manufacturer="!(loc.Company)"
           UpgradeCode="$(var.UpgradeCode)">
		
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" AllowSameVersionUpgrades="yes" />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="icon.ico" SourceFile="$(var.SVS2TIFF.ProjectDir)\svs2tiff_multi_icon.ico"/>

	<!-- Use the icon.ico icon for this installer (shows up in Add/Remove programs) -->
	<Property Id="ARPPRODUCTICON">icon.ico</Property>

    <!--Install program components-->
		<Feature Id="ProductFeature" Title="!(loc.ProductName_$(var.Platform))" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="PublishedComponents" />
		</Feature>
	</Product>

</Wix>
